@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #2cd540;
  font-family: "Macondo", cursive;
}

h1,
h2,
h3 {
  font-family: "Macondo", cursive;
}
