/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Macondo", cursive;
  --secondary-font: "Inter", sans-serif;
  --primary-color: #3a2620; /* dark brown */
  --secondary-color: #aa9581; /* light brown */
  --highlight-color: #416a8e; /* blue */
  --highlight-color-light: #7a9fc2; /* light blue */
}
/* Global styles */
* {
  font-family: var(--secondary-font);
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  color: white;
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.sub-heading-color {
  color: var(--highlight-color);
}
.section {
  padding-top: 4rem;
  margin-bottom: 2rem;
}

/* Buttons */

.custom-button-filled {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: white;
}

.custom-button-filled:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
}

.custom-button-outline {
  border: 3px solid var(--highlight-color);
  padding: 7px 25px;
  color: var(--highlight-color);
}

.custom-button-outline:hover {
  background-color: var(--highlight-color);
  color: white;
}
.indent {
  margin-left: 30px;
}
body {
  padding-top: 58px;
}
/* navbar */
#navbar {
  background-color: var(--primary-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* header */
#header .lead {
  font-family: var(--secondary-font);
}

/* Services */

#services .card-footer {
  font-weight: bold;
  color: var(--highlight-color);
  background-color: transparent;
}

#services .card {
  margin-bottom: 1.5rem;
}

/* Game library cards */
#new-games .card,
#fav-games .card {
  border: none;
}

/* Footer / contact */

#contact {
  background-color: var(--primary-color);
  color: white;
  padding-bottom: 3rem;
}

#contact h2 {
  color: white;
}

#contact .sub-heading-color {
  color: var(--highlight-color-light);
}

#contact i {
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-right: 15px;
}

#contact .social-links i {
  color: var(--highlight-color-light);
  font-size: 1.9rem;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
  color: var(--secondary-color);
}
#contact .table-dark * {
  background-color: transparent;
}
/* events */
.discount-text {
  font-weight: bold;
  background-color: var(--highlight-color);
  color: white;
  padding: 6px 1rem;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/* stop the table from overflow on tiny mobile */
#events table {
  font-size: 0.7rem;
}
@media screen and (min-width: 375px) {
  #events table {
    font-size: 1rem;
  }
}

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: 191px;
  }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: auto;
  }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* make all service cards the same height for consistency */
  #services .card-body {
    min-height: 220px;
  }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  /* make all service cards the same height for consistency */
  #services .card-body {
    min-height: 195px;
  }
}

/* Testimonials section */
#testimonials .owl-carousel {
  padding: 1rem 0;
  position: relative;
}

#testimonials .card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 1.5rem;
}

#testimonials .card-body {
  padding: 0.75rem;
}

#testimonials .text-warning {
  color: #ffc107 !important;
}

#testimonials .owl-nav button:hover {
  background-color: var(--highlight-color-light) !important;
}

#testimonials .owl-nav button.owl-prev {
  left: -20px;
}

#testimonials .owl-nav button.owl-next {
  right: -20px;
}

/* Hide Owl Carousel dots */
#testimonials .owl-dots {
  display: none;
}

/* Custom column width for xl screens */
@media (min-width: 1200px) {
  .col-xl-2-4 {
    flex: 0 0 auto;
    width: 20%;
  }
}
